body, html {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

span {
  display:inline-block;
  width: 20px;
}

#about-me-header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5%;
}

#resume {
  background-color: black;
  min-height: 80%;
}

#contact-info {
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
}

.nav-bar {
  background-color: black;
  display: inline-block;
  text-align: right;
  width: 100%;
}

.link {
  color: grey;
  border-bottom: solid grey 2px;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: #f1f1f1;
  border-bottom: solid #f1f1f1 2px;
}

.slide-one {
  background-image: url(photo-1506111583091-becfd4bfa05d.jpg);
  width: auto;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: white;
  height: 75px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-weight: bolder;
  transform: translate(-50%, -50%);
  padding: 0;
}

.sub {
  color: white;
  position: absolute;
  top: 120%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding:0;
}

.about-me{
  background-color: black;
  color: white;
  min-height: 40%;
  /*border: solid white 10px*/
}

.about-me > *{
  background-color: black;
  color: white;
  float:left;
  padding-top: 30px;
  /*max-width: 1000px*/
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.about-me-img {
  height: 200px;
  width: 200px;
  padding-left: 25%;
}

.about-me-text {
  padding-left: 100px;
}

.slide-two {
  background-image: url(photo-1424296308064-1eead03d1ad9.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  text-align: center;
}

.slide-two-text {
  color: white;
  text-align: center;
  line-height: 1000px;
  font-weight: bolder;
}

.resume-img {
  display: block;
  margin: auto;
  width: 40%;
  padding: 10% 0;
}

@media only screen and (orientation: portrait){
  #resume {
    background-color: black;
    min-height: 100%;
  }

  .resume-img {
    display: block;
    margin: auto;
    width: 85%;
    padding: 45% 0;
  }
}

@media only screen and (max-width: 1100px){
  #about-me-header{
    padding-top: 30%
  }

  .about-me{
    background-color: black;
    color: white;
    text-align: center;
    height: 70%;
    width: 100%
  }

  .about-me > *{
    background-color: black;
    color: white;
    padding-top: 30px;
  }

  .about-me-img {
    background-color: black;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 48%;
  }

  .about-me-text{
    background-color: black;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-left: 21%;
  }
}
